<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('../_shared/meta.ejs') %>
  <title>Todo List</title>
  <%- include('../_shared/stylesheets.ejs') %>
  <!-- <link rel="stylesheet" href="/public/css/home/index.css" /> -->
</head>

<body>
  <%- include('../_shared/header.ejs') %>

  <div b-bddmc6yalx class="container">
    <main role="main" class="pb-3">
      <div class="mb-3">
        <a class="btn btn-primary" href="/todo/create">新規タスク作成</a>
      </div>

      <div>
        <table class="table table-border">
            <tr>
                <th>件名</th>
                <th>締め切り</th>
                <th>優先度</th>
                <th>ステータス</th>
                <th>操作</th>
            </tr>
            @foreach(var item in Model)
            {
            <tr>
                <td>@item.Title</td>
                <td>@item.Deadline?.ToString("yyyy/MM/dd")</td>
                <td>@item.Priority</td>
                <td>@item.Status</td>
                <td>
                    <form method="GET" action="/ToDo/Edit" class="d-inline">
                        <input type="hidden" id="taskId" name="taskId" value="@item.Id" />
                        <button type="submit" class="btn btn-light"><i class="fas fa-edit"></i></button>
                    </form>
                    <form method="post" action="/ToDo/Delete" class="d-inline">
                        <input type="hidden" id="taskId" name="taskId" value="@item.Id" />
                        <button type="submit" class="btn btn-light"><i class="fas fa-trash-alt"></i></button>
                    </form>
                </td>
            </tr>
            }
        </table>
    </div>

    </main>
  </div>

  <%- include('../_shared/footer.ejs') %>
  <%- include('../_shared/javascripts.ejs') %>
</body>

</html>